.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

label{
    font-size: 20px;
    color: black;
}

span{
    font-size: 15px;
    padding: 3px;
    color: #700000;
    display: none;
    font-weight: bold;
}

input:invalid[focused="true"]{
    border: 2px solid #700000;
}

input:invalid[focused="true"] ~ span{
    display: block;
}
